<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/80/2M/E7E7E7E7E7" />
  <arg name="tf_prefix" default="crazyflie" />
  <arg name="joy_input" default="/dev/input/js0" />
  <arg name="external_position_name" default="/crazyflie/external_position"/>
  <arg name="camera_height" default="0.84"/>

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <!-- ADD Crazyflie -->
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="$(arg tf_prefix)" /> 
      <rosparam>
        genericLogTopics: ["position", "ctrltarget", "zrange"]
        genericLogTopicFrequencies: [10, 10, 100] 
        genericLogTopic_position_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"]  
        genericLogTopic_ctrltarget_Variables: ["ctrltarget.x", "ctrltarget.y", "ctrltarget.z"] 
        genericLogTopic_zrange_Variables: ["range.zrange"]
      </rosparam>
    </node>

    <!--Controller Node-->
    <node name="crazyflie_demo_hover" pkg="crazyflie_demo" type="joystick.py" output="screen">
      <rosparam command="load" file="$(find ball_detection)/src/joystick.yaml" />
    </node> 
    
  </group>

   <!--Joystic-->
  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_input)"/>
  </node>

  <!-- Ball Detection Node--> 
  <include file="$(find ball_detection)/src/ball_detection.launch">
    <arg name="flight" value="True"/>
    <arg name="external_position_name" value="$(arg external_position_name)"/>
    <arg name="camera_height" value="$(arg camera_height)"/>
  </include> 

  <!-- Target Detection Node--> 
  <include file="$(find ball_detection)/src/target_detection.launch">
    <arg name="flight" value="True"/> 
    <arg name="camera_height" value="$(arg camera_height)"/>
  </include> 

  <!--Rosbag-->
  <node pkg="rosbag" type="record" args="-o /home/philip/crazyflie_dev/rosbags/cf /crazyflie/position /crazyflie/ctrltarget $(arg external_position_name)
  /Debug/color/image/compressed /Debug/target/image/compressed /crazyflie/target_position /crazyflie/raw_position /crazyflie/zrange 
  /crazyflie/expected_depth /rosout" 
  name="record" output="screen"/> 

  <!--node pkg="rosbag" type="record" args="-o /home/philip/crazyflie_dev/rosbags/cf /camera/color/image_raw /camera/aligned_depth_to_color/image_raw
  /crazyflie/raw_position /Debug/color/image"
   name="record" output="screen"/ -->

</launch>
