<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/80/2M/E7E7E7E7E7" />
  <arg name="tf_prefix" default="crazyflie" />
  <arg name="joy_input" default="/dev/input/js0" />
  <arg name="external_position_name" default="/crazyflie/external_position"/>
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">
    <!-- ADD Crazyflie -->
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="$(arg tf_prefix)" /> 
      <rosparam>
        genericLogTopics: ["position", "ctrltarget", "extpos"]
        genericLogTopicFrequencies: [10, 10, 10] 
        genericLogTopic_position_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"] 
        genericLogTopic_ctrltarget_Variables: ["ctrltarget.x", "ctrltarget.y", "ctrltarget.z"]
        genericLogTopic_extpos_Variables: ["ext_pos.X", "ext_pos.Y", "ext_pos.Z"]
      </rosparam>
    </node>

    <!--Controller Node-->
    <node name="crazyflie_demo_hover" pkg="crazyflie_demo" type="test_high_level.py" output="screen"> 
    </node> 
    
  </group> 

  <!--Rosbag-->
  <node pkg="rosbag" type="record" args="-o /home/philip/crazyflie_dev/rosbags/cf /crazyflie/position /crazyflie/ctrltarget $(arg external_position_name)
  /Debug/color/image/compressed /tf /rosout" 
  name="record" output="screen"/>

</launch>
